@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: au`to;
  font-weight: 600;
  font-style: normal;
}

.nav-links{
  list-style: none;

}
.header{
  margin: 0 100px;
}
.nav-links li a{
  text-decoration: none;
}
.nav-links{
  display: flex; 
  gap: 30px;
  margin-left: 200px;
}
.nav-links .Home a{
  color: rgba(254, 163, 1, 1);
  font-size: 20px;
}
.nav-links .About a{
  color: brown;
  font-size: 20px;
}
.nav-links .Facility a{
  color: aqua;
  font-size: 20px; 
}
.text-primary{
  color: rgba(254, 163, 1, 1);
}
.nav-title{
font-size: 55px;
margin-top: 100px;

}
.banner-content{
  max-width: 580px;
  gap: 50px;
}
.banner{
  display: flex;
  justify-content: space-between;
}
.btn{
  background-color: black;
  color: white;
  font-weight: bold;
  border: none;
  padding: 10px 50px;
  border-radius: 10px;
  margin-top: 20px;
}
.banner-profile{
  max-width: 580px;
  margin-right: 30px;
}
.color{
color: blue;
}
.nav-links .Admission a{
  color: blueviolet;
  font-size: 20px;
}
.btn-primary{
padding: 10px 50px;
background-color: rgba(254, 163, 1, 1);
color: white;
border-radius: 10px;
border: none;
font-size: 20px;
margin-left: 300px;
}
.pic{
  display: flex;
  gap: 15px;
}